<%= render 'edit', customers: @customers %>

<%= form_with model: @customer, url: public_customer_path do |f| %>
  <table class="table">
    <tr><th>氏名</th>
      <td><%= f.text_field :last_name, placeholder: "姓" %>
          <%= f.text_field :first_name, placeholder: "名" %></td>
    </tr>

    <tr><th>かな</th>
      <td><%= f.text_field :last_name_kana, placeholder: "せい" %>
          <%= f.text_field :first_name_kana, placeholder: "めい" %></td>
    </tr>

    <tr><th>法人名</th>
      <td><%= f.text_field :corporation, placeholder: "〇〇〇工業　株式会社", :size=>"60" %></td>
    </tr>

    <tr><th>郵便番号</th>
      <td><%= f.text_field :postal_code %></td>
    </tr>

    <tr><th>住所</th>
      <td><%= f.text_field :address, :size=>"60" %></td>
    </tr>

    <tr><th>TEL</th>
      <td><%= f.text_field :telephone_number %></td>
    </tr>

    <tr><th>email</th>
      <td><%= f.text_field :email %></td>
     </tr>
  </table>

<div class="row mt-5 mb-5 justify-content-center">
    <div class="col-2 text-center">
    <%= link_to "戻る", public_customer_path %>
</div>
<div class="col-2 text-center">
    <%= f.submit "変更を保存", class: "btn btn-success" %>
</div>
</div>

  <% end %>
</div>