<%= render 'mypage', customers: @customers %>


<div class="container">
  <p style="text-align: left">
  <%= image_tag('鳥みどり', size: '150x100') %>
  </p>
<div class="row mt-5 justify-content-center">
<div class="card title-center" style="width: 13rem;">
    <%= link_to public_addresses_path, class: "card-title" do %>
      <i class="fa-solid fa-cart-flatbed-suitcase fa-3x pl-4 ml-5 mt-4"></i>
      <div class="card-body text-center">
        配送先追加・編集
      </li>
      </div>
    <% end %>

</div>


<div class="card title-center" style="width: 13rem;">
    <%= link_to public_customer_path, class: "card-title" do %>
      <i class="fa-solid fa-user fa-3x pl-4 ml-5 mt-4"></i><br />
      <div class="card-body ml-2">
        会員情報確認・編集
        </li>
        </div>
    <% end %>

</div>



</div>
</div>


    <div class="row mt-5 justify-content-center">

<div class="card title-center" style="width: 13rem;">
    <%= link_to public_cart_items_path, class: "card-title" do %>
      <i class="fa-solid fa-cart-arrow-down fa-3x pl-4 ml-5 mt-4"></i>
      <div class="card-body text-center">
        カート内確認
      </li>
      </div>
    <% end %>

</div>


<div class="card title-center" style="width: 13rem;">
    <%= link_to public_orders_path, class: "card-title" do %>
      <i class="fa-solid fa-piggy-bank fa-3x pl-4 ml-5 mt-4"></i>
      <div class="card-body text-center">
        注文履歴一覧
        </li>
        </div>
    <% end %>

</div>



</div>

<p style="text-align: right">
  <%= image_tag('受付ウサギオレンジ', size: '45x250') %>
</p>

<div class="container">
    <div class="row mb-5 justify-content-center">
  <%= link_to "退会する", public_confirm_unsubscribe_path(@customer) %>
</div>
</div>



</div>


