<%= render 'public/cart_items/index', cart_items: @cart_items %>

<% if !@cart_items.blank? %>
 <div class="row mb-4">
      <div class="col text-right">
        <%= link_to general_public_destroy_all_cart_items_path, method: :delete, class: "btn btn-danger btn-sm" do %>
        <i class="fa-solid fa-trash-can"></i> カートを空にする
        <% end %>

      </div>
    </div>
<% end %>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr bgcolor="#f5f5f5">
        <td><%= image_tag cart_item.item.image, size: "50x50" %><%= cart_item.item.name %>
            <%= cart_item.item.shape %>
            <%= cart_item.item.size %></td>
        <td>¥<%= cart_item.item.with_tax_price %></td>
        <td>X</td>
        <td>
          <%= form_with model: cart_item, url: general_public_cart_item_path(cart_item.id), method: :patch do |f| %>
            <%= f.text_field :amount %>
            <%= f.submit "変更", class: "btn btn-success" %>
          <% end %>
        </td>
          <td>¥<%= cart_item.subtotal %></td>
          <td><%= link_to "削除", general_public_destroy_cart_item_path(cart_item.id), method: :delete, class: "btn btn-outline-danger btn-sm" %></td>

        <% @total += cart_item.subtotal %>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="container">
    <div class="row">
      <div class="col text-right">
        <h3>総合計(税込み)  ¥<%= @total %></h3>
      </div>
    </div>
  </div>

<div class="container mb-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-3 text-right text-center">
    <td><%= link_to "買い物を続ける", general_public_items_path, class: "btn btn-primary" %></td>
    </div>
      <% if !@cart_items.blank? %>
        <div class="col-3 text-right text-center">
          <%= link_to "情報入力に進む", new_general_public_order_path, class: "btn btn-warning" %>
        </div>
    </div>
  </div>
<% end %>
</div>


</div>
</div>

</header>