<%= render 'public/homes/top', homes: @homes %>

<% if general_customer_signed_in? %>
<div class="container">
  <div class="row mb-5 gx-4 gx-lg-5">
<%= link_to general_public_items_path, class: "card-title", class: "link" do %>
  <div class="col-lg-6 col-md-6 text-center">
    <div class="mt-5">
      <div class="mb-2"><h4><i class="fa-solid fa-shop fa-3x"></i></i></h4></div>
        <h3 class="h4 mb-2">商品一覧</h3>
          <p class="text-muted mb-0">取扱商品が確認できます。こちらから購入できます。</p>
    </div>
<% end %>
  </div>

 <%= link_to general_public_orders_path, class: "card-title", class: "link" do %>
    <div class="col-lg-6 col-md-6 text-center">
      <div class="mt-5">
        <div class="mb-2"><h4><i class="fa-solid fa-piggy-bank fa-3x"></i></h4></div>
          <h3 class="h4 mb-2">注文履歴一覧</h3>
            <p class="text-muted mb-0">過去に注文したモノが確認できます</p>
      </div>
<% end %>
    </div>
  </div>
</div>



<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">
   <div class="container text-center">
    <div class="font3"><h2>新着商品</h2></div>
      <div class="row text-center">
        <% @items.each do |item| %>
          <%= link_to general_public_item_path(item.id) do %>
        <% if item.is_active %>
        <div class="col-lg-3 col-md-5 mb-5 text-center">
          <div class="card h-100">
          <%= link_to (image_tag item.image, size: '250x200'), general_public_item_path(item.id) %>
          <%= link_to general_public_item_path(item.id), class: "link" do %>
            <div class="card-body text-black p-4">
              <div class="text-center">
                <div class="font">
              <strong>商品名</strong>
                :<%= item.name %>
                <br />
              <strong>型</strong>
                :<%= item.shape %>
                 <br />
              <strong>サイズ</strong>
                :<%= item.size %>
                <br />
              <strong>在庫数</strong>
                :<%= item.amount %>
                <br />
              <strong>単価(税抜)</strong>
                :¥<%= item.last_price %>
                <br>
              </div>
              </div>
            </div>
            <% end %>
            </div>
          </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
  </div>
</header>
<% end %>

