<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>商品編集/数量変更</h4>
    </div>


    <%= form_with model: @item, url: admin_item_path do |f| %>


  <div class="row text-right">
    <div class="col">
      数量
      <%= f.text_field :amount, placeholder: "20" %>
    </div>
  </div>

    <div class="row text-center">
      <div class="col">
        商品画像
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        ジャンル
        <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '--選択してください--'}, class: 'sample' %>
      </div>
    </div>


    <div class="row text-center">
      <div class="col">
        商品名
        <%= f.text_field :name, placeholder: "商品名" %>
      </div>
    </div>


  <div class="row text-center">
    <div class="col">
      商品説明
      <%= f.text_area :introduction, placeholder: "ここに説明文を記述" %>
    </div>
  </div>


  <div class="row text-center">
    <div class="col">
      型
      <%= f.text_field :shape, placeholder: "エルボ" %>
    </div>
  </div>


  <div class="row text-center">
    <div class="col">
      サイズ
      <%= f.text_field :size, placeholder: "15" %>
    </div>
  </div>





  <div class="row text-center">
    <div class="col">
      定価
      <%= f.text_field :last_price, placeholder: "10,000" %>
    </div>
  </div>

  <div class="row justify-content-center">
        <div class="col-2">
          販売ステータス
        </div>

        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中" %>

        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中" %>

      </div>


  <div class="row text-center">
    <div class="col">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
  </div>




    <% end %>




</div>