<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">
  <div class="container text-center">
    <div class="row mt-5 justify-content-center">
      <div class="font"><h4>商品一覧</h4></div>
    </div>

<div class="row mb-3 justify-content-center">
  <div class="col-lg col-md-5 mb-3 text-center">
  <%= form_tag(admin_items_path, method: :get) do %>
    <%= text_field_tag :search, '', placeholder: "キーワード検索", :size=>"50" %>
    <%= submit_tag 'キーワード検索', name: nil, shape: nil, size: nil, class: "btn-gradient-blue" %>
  <% end %>
  </div>
</div>

<div class="row mb-3 justify-content-center">
  <div class="col-lg-4 col-md-5 mb-3 text-center">
  <%= form_tag(admin_items_path, method: :get) do %>
  <%= select_tag :genre_id, options_from_collection_for_select( Genre.all, :id, :name) %>
  <%= submit_tag "ジャンル検索", class: "btn-gradient-blue" %>
<% end %>
  </div>

<div class="col-lg-4 col-md-5 mb-3 text-center">
  <%= form_tag(admin_items_path, method: :get) do %>
    <%= text_field_tag :amount, '', placeholder: "在庫数検索" %>
    <%= submit_tag '在庫数検索', amount: nil, class: "btn-gradient-blue" %>
  <% end %>
</div>
</div>

<div class="row mt-3 mb-3 justify-content-center">
  <div class="col-lg-4 col-md-5 mb-3 text-center">
    <%= link_to new_admin_item_path, class: "btn-gradient-pink" do%>
    <i class="fa-solid fa-circle-plus"></i><strong>商品新規追加</strong>
    <% end %>
  </div>
</div>

<%= paginate @items %>

    <div class="row">
      <% @items.each do |item| %>
        <div class="col-lg-3 col-md-5 mb-5 text-center">
          <%= link_to admin_item_path(item.id), class: "link" do %>
          <div class="card">
             <div class="text-center">
               <%# if item.image.attached? %>
                <%= image_tag item.image, size: '250x200'%>
              <% #end %>
              </div>
            <div class="card-body p-4">
              <div class="text-center">
                <div class="font">
                <h5 class="fw-bolder"><%= item.name %></h5>
                    <strong>ジャンル:</strong><%= item.genre.name %><br/>
                    <strong>型:</strong><%= item.shape %><br />
                    <strong>サイズ:</strong><%= item.size %><br/>
                    <strong>在庫数:</strong><%= item.amount %><br />
                    <strong>単価(税抜):</strong>¥<%= item.last_price %>
                    <td><% if item.is_active == true %>
                      <h4><p class="text-success">販売中</p></h4>
                    <% else %>
                      <h4><p class="text-secondary">販売停止中</p></h4>
                    <% end %>
              </div>
              </div>
            </div>
            </div>
            <% end %>
          </div>
      <% end %>
     </div>

     <%= paginate @items %>
  </div>

<div class="row mt-2 mb-5 justify-content-center">
  <%= link_to "Homeへ戻る", admin_top_path %>
</div>

</header>
