

<div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="font"><h4>商品新規登録</h4></div>
    </div>

<%= form_with model: @item, url: admin_items_path do |f| %>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6">
    <table class="table table-borderless table-striped">
      <th>商品画像</th>
      <td><%= f.file_field :image, accept: "image/*" %></td></tr>

      <th>ジャンル</th>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '--選択してください--'}, class: 'sample' %></td></tr>

      <th>商品名</th>
      <td><%= f.text_field :name, placeholder: "商品名" %></td></tr>

      <th>型</th>
      <td><%= f.text_field :shape, placeholder: "エルボ" %></td></tr>

      <th>サイズ</th>
      <td><%= f.text_field :size, placeholder: "サイズを入力" %></td></tr>

      <th>数量</th>
      <td><%= f.text_field :amount, placeholder: "在庫個数入力" %></td></tr>

      <th>商品説明</th>
      <td><%= f.text_area :introduction, placeholder: "説明文入力" %></td></tr>

      <th>単価(税込み)</th>
      <td><%= f.text_field :last_price, placeholder: "10,000" %></td></tr>
    </table>

    </div>
</div>

  <div class="row mt-5 mb-4 justify-content-center">
    <%= f.submit "新規登録", class: "btn-gradient-green" %>
    <% end %>
  </div>
  <div class="row mt-2 mb-5 justify-content-center">
  <%= link_to "Homeへ戻る", admin_top_path %>
  </div>


</div>
</div>


