<%= render 'public/customers/mypage', customer: @customer %>


<div class="container">
   <div class="row mb-5 gx-4 gx-lg-5">
      <%= link_to general_public_addresses_path, class: "card-title", class: "link" do %>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
        <div class="mb-2"><h4><i class="fas fa-truck-moving fa-3x"></i></h4></div>
        <h3 class="h4 mb-2">配送先登録・編集</h3>
          <p class="text-muted mb-0">配送先の新規登録、編集ができます</p>
        </div>
      <% end %>
      </div>

      <%= link_to general_public_customer_path, class: "card-title", class: "link" do %>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
          <div class="mb-2"><h4><i class="fas fa-user fa-3x"></i></h4></div>
          <h3 class="h4 mb-2">会員登録確認・編集</h3>
            <p class="text-muted mb-0">ご自身の登録情報の確認、編集できます</p>
          </div>
        <% end %>
        </div>

        <%= link_to general_public_cart_items_path, class: "card-title", class: "link" do %>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <div class="mb-2"><h4><i class="fas fa-cart-arrow-down fa-3x"></i></h4></div>
            <h3 class="h4 mb-2">カート内確認</h3>
              <p class="text-muted mb-0">カート内にある商品の確認ができます</p>
            </div>
        <% end %>
        </div>


        <%= link_to general_public_orders_path, class: "card-title", class: "link" do %>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            <div class="mb-2"><h4><i class="fas fa-history fa-3x"></i></h4></div>
            <h3 class="h4 mb-2">注文履歴一覧</h3>
              <p class="text-muted mb-0">過去に注文したモノが確認できます</p>
            </div>
        <% end %>
        </div>
    </div>

</div>

<div class="container">
  <div class="row mb-5 justify-content-center">
    <%= link_to "退会する", general_public_confirm_unsubscribe_path(@general_customer) %>
  </div>
</div>

</div>

</div>
</header>



