
 <%= flash[:notice] %>



    <div class="text-center my-5">

<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">

      <div class="c02 active"><h1>ようこそ! kanzaiyaへ!</h1>
          <h4>このサイトは、kanzaiyaのECサイトになります。</br>
          kanzaiyaの商品の在庫確認、ご注文が出来ます。</h4>
       </div>
        <div class="c07 active"><h3>当社は、幅広く豊富に商品を取り揃えております。</h3>
          <h3>置いていない商品も、取り寄せ可能なものはございますので</h3>
          <h3>お気軽にお申し付けください！</h3>
        </div>





<% if !general_customer_signed_in? %>
  <% if !customer_signed_in? %>
<div class="container">
   <div class="row mt-5 mb-5">
     <div class="col-4 text-center">
       <div class="card" style="width: 20rem;">
        <div class="card-header">
          <h2>一般ユーザー様</h2>
        </div>
        <div class="card-body">
          <div class="row mb-5 mt-3">
            <div class="col text-center">
              <%= link_to "登録済みの方", new_general_customer_session_path, class: "btn btn-primary" %>
            </div>
          </div>
        <div class="row mb-5 mt-3 text-center">
          <div class="col">
            <%= link_to "初めての方(新規登録)", new_general_customer_registration_path, class: "btn btn-white" %>
          </div>
        </div>
        </div>
       </div>
      </div>

    <div class="col-4 text-center">
       <div class="card" style="width: 20rem;">
        <div class="card-header">
          <h2>企業ユーザー様</h2>
        </div>
        <div class="card-body">
          <div class="row mb-5 mt-3">
            <div class="col text-center">
              <%= link_to "登録済みの方", new_customer_session_path, class: "btn btn-primary" %>
            </div>
          </div>
            <div class="row mb-5 mt-3 text-center">
              <div class="col">
                <%= link_to "初めての方(新規登録)", new_customer_registration_path, class: "btn btn-white" %>
              </div>
            </div>
        </div>
       </div>
     </div>


<div class="col-4 text-center">
       <div class="card" style="width: 20rem;">
        <div class="card-header">
          <h2>ゲスト様</h2>
        </div>
        <div class="card-body">
          <div class="row mb-5 mt-3">
            <div class="col text-center">
              <h5>お試しで使いたい方は<br/>
              こちらから</h5>
              <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
            </div>
          </div>
</div>
</div>
</div>
</div>
</div>
  <% end %>
<% end %>

</header>






