
<header class="py-5 bg-image-full" style="background-image: url('https://cdn.pixabay.com/photo/2015/05/05/09/38/united-nations-building-753506_1280.jpg')">
<div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-dark">
        <div class="box5"><div class="box font4">
          <div class="c02 active"><h1>Welcome to! kanzaiya!</h1>
            <p class="lead fw-normal text-white-50 mb-0">
              <div class="box font mt-4">
                <h3>このサイトは、kanzaiyaのECサイトになります。</br>
                    kanzaiyaの商品の在庫確認、ご注文が出来ます。</h3></p>
                <div class="box1 font1">
                <h5>当社は、幅広く豊富に商品を取り揃えております。<br>
                    置いていない商品も、取り寄せ可能なものはございますので<br>
                    お気軽にお申し付けください！</h5>
                </div>
              </div>
          </div>
          </div>
      </div>
    </div>
</header>

<% if !general_customer_signed_in? %>
  <% if !customer_signed_in? %>
<div class="container">
   <div class="row mt-5 mb-5">
     <div class="col-4 text-center">
       <div class="card" style="width: 20rem;">
        <div class="card-header">
          <h3>一般ユーザー様</h3>
        </div>
        <div class="card-body">
          <div class="row mb-5 mt-3">
            <div class="col text-center">
              <%= link_to "登録済みの方", new_general_customer_session_path, class: "btn btn-primary" %>
            </div>
          </div>
        <div class="row mb-5 mt-3 text-center">
          <div class="col">
            <%= link_to "初めての方(新規登録)", new_general_customer_registration_path, class: "btn btn-white" %>
          </div>
        </div>
        </div>
       </div>
      </div>

    <div class="col-4 text-center">
       <div class="card" style="width: 20rem;">
        <div class="card-header">
          <h3>企業ユーザー様</h3>
        </div>
        <div class="card-body">
          <div class="row mb-5 mt-3">
            <div class="col text-center">
              <%= link_to "登録済みの方", new_customer_session_path, class: "btn btn-primary" %>
            </div>
          </div>
            <div class="row mb-5 mt-3 text-center">
              <div class="col">
                <%= link_to "初めての方(新規登録)", new_customer_registration_path, class: "btn btn-white" %>
              </div>
            </div>
        </div>
       </div>
     </div>

<div class="col-4 text-center">
       <div class="card" style="width: 20rem;">
        <div class="card-header">
          <h3>ゲスト様</h3>
        </div>
        <div class="card-body">
          <div class="row mb-5 mt-3">
            <div class="col text-center">
              <h5>お試しで使いたい方は<br/>
              こちらから</h5>
              <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
            </div>
          </div>
        </div>
        </div>
</div>

  </div>
</div>
  <% end %>
<% end %>









