<div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="font"><h4>企業ユーザー会員編集</h4></div>
    </div>
</div>

<div class="row mt-3 mb-5 justify-content-center">
<% if @customer.errors.any? %>
  <div class="alert-danger">
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>
</div>

<%= form_with model: @customer, url: admin_customer_path do |f| %>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-8 col-md-5">
      <table class="table table-borderless table-striped">
        <tr><th>会員ID</th>
        <td><%= @customer.id %></td></tr>

        <tr><th>名前</th>
        <td><%= f.text_field :last_name, placeholder: "姓" %>
        <%= f.text_field :first_name, placeholder: "名" %></td>

        <tr><th>ふりがな</th>
        <td><%= f.text_field :last_name_kana, placeholder: "せい" %>
        <%= f.text_field :first_name_kana, placeholder: "名" %></td>

        <tr><th>会社名</th>
        <td><%= f.text_field :corporation, placeholder: "〇〇産業 株式会社" %></td>

        <tr><th>〒</th>
        <td><%= f.text_field :postal_code, placeholder: "000000000" %></td>

        <tr><th>住所</th>
        <td><%= f.text_field :address, placeholder: "東京都千代田区", :size=>"60" %></td>

        <tr><th>TEL</th>
        <td><%= f.text_field :telephone_number, placeholder: "09012345678" %></td>

        <tr><th>email</th>
        <td><%=f.text_field :email, placeholder: "〇〇@gmail.com" %></td>

        <tr><th>会員ステータス</th>
        <td><%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, "退会" %></td>
      </table>

  <div class="row mt-5 mb-5 justify-content-center">
    <div class="col-lg-5 col-md-5 mb-5 text-center">
      <%= link_to "戻る", admin_customer_path(@customer.id) %>
    </div>
    <div class="col-lg-5 col-md-5 text-center">
      <%= f.submit "変更を保存", class: "btn-gradient-green" %>
    </div>
  </div>

    </div>
  </div>
</div>
<% end %>



