
<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">
<div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="font"><h4>企業会員一覧</h4></div>
    </div>

<div class="row mt-3 mb-3 justify-content-center">
  <%= form_tag(admin_customers_path, method: :get) do %>
    <%= text_field_tag :search, '', placeholder: "キーワード検索", :size=>"50" %>
    <%= submit_tag 'キーワード検索', full_name: nil, corporation: nil, address: nil %>
  <% end %>
</div>

<table class="table table-secondary table-bordered table-sm">
  <thead>
    <div class="font">
      <th>会員ID</th>
      <th>名前</th>
      <th>企業</th>
      <th>住所</th>
      <th>会員ステータス</th>
  </thead>

<tbody>
  <% @customers.each do |customer| %>
    <%# if instance.class == Customer %>
    <tr bgcolor="#f5f5f5">
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.corporation %></td>
      <td><%= customer.address %></td>
      <td><% if customer.is_deleted == false %>
          <p class="text-success">有効</p>
        <% else %>
           <p class="text-secondary">退会</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>

</table>
    </div>

<div class="row mt-5 mb-5 justify-content-center">
  <%= link_to "Homeへ戻る", admin_top_path %>
</div>

</header>