<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>会員一覧</h4>
    </div>


    <table class="table table-hover table-bordered table-sm">
      <thead>
        <th>会員ID</th>
        <th >名前</th>
        <th>企業</th>
        <th>住所</th>
        <th>会員ステータス</th>
      </thead>



 <tbody>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.corporation %></td>
      <td><%= customer.address %></td>
      <td></td>
    </tr>

  <% @general_customers.each do |general_customer| %>
    <tr>
     <td><%= general_customer.id %></td>
      <td><%= link_to general_customer.last_name + general_customer.first_name, admin_customer_path(general_customer.id) %></td>
      <td>---------</td>
      <td><%= general_customer.address %></td>
      <td></td>
    </tr>
  <% end %>

  <% end %>


  </tbody>

    </table>

</div>
