<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>注文履歴詳細</h4>
    </div>

<div class="container">
  <div class="row">
    <div class="col-lg col-md-5">
        <table class="table table-hover table-bordered table-sm" style="border-collapse: collapse">
          <thead>
            <tr>
              <th bgcolor = "silver">商品名</th>
              <th bgcolor = "silver">単位(税込)</th>
              <th bgcolor = "silver">数量</th>
              <th bgcolor = "silver">小計</th>
            </tr>
          </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %>/
        <%= order_detail.item.shape %>/
        <%= order_detail.item.size %></td>
        <td><p class="text-right">¥<%= order_detail.item.with_tax_price.to_s(:delimited, delimiter: ',') %></p></td>
        <td><p class="text-center"><%= order_detail.amount %></p></td>
        <td><p class="text-right">¥<%= order_detail.item.with_tax_price * order_detail.amount %></p></td>
      </tr>
      <% end %>
    </tbody>
        </table>
    </div>

  <div class="col-lg-6 col-md-5">
    <div class="row justify-content-center">
      <%= form_with model: @order, url: edit_public_customer_path do |f| %>
      <table class="table table-bordered table-sm">
        <tr>
          <th bgcolor = "silver">会社名</th>
          <td><% if @order.customer_id.present? %>
                <%= @order.customer.corporation %>
              <% else %>
                一般ユーザー
              <% end %>
          </td>
        </tr>
         <tr>
          <th bgcolor = "silver">購入者</th>
          <td><% if @order.customer_id.present? %>
                <%= @order.customer.full_name %>
              <% else %>
                <%= @order.general_customer.full_name %>
              <% end %>
          </td>
        </tr>
        <tr>
          <th bgcolor = "silver">注文日時</th>
          <td><%= @order.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></td>
        </tr>
        <tr>
          <th bgcolor = "silver">宛先</th>
          <td>〒<%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.telephone_number %></td>
        </tr>
        <tr>
          <th bgcolor = "silver">宛名</th>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <th bgcolor = "silver">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      <% end %>
    </div>
  </div>

<div class="col-lg-6 col-md-5">
  <div class="row justify-content-center">
  <table class="table table-bordered table-sm" style="border-collapse: collapse">
  <%= form_with model: @order, url: edit_public_customer_path do |f| %>
    <th bgcolor = "silver">商品合計</th>
      <td><p class="text-right">¥<%= @order.total_payment.to_s(:delimited, delimiter: ',') %></p></td><tr/>
    <th bgcolor = "silver">送料</th>
      <td><p class="text-right">¥<%= @order.shipping_cost %></p></td><tr/>
    <th bgcolor = "cadetblue">請求合計金額</th>
      <td><p class="text-right">¥<%= @order.total_payment + @order.shipping_cost %></p></td>
  <% end %>
  </table>
  </div>
</div>

  </div>
</div>
</div>

<div class="row mt-2 mb-5 justify-content-center">
  <%= link_to "戻る", admin_orders_path %>
</div>

