<%= render 'public/orders/index', orders: @orders %>

    <body>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime('%Y年%m月%d日 %H:%M:%S'), general_public_order_path(order.id) %></td>
          <td><%= order.spot %></td>
          <td><%= order.name %></td>
          <td>〒<%= order.postal_code %><br>
          <%= order.address %></td>
          <td></td>
        </tr>
      <% end %>
    </body>
  </table>
</div>

<%= paginate @orders %>
