<%= render 'public/orders/index', orders: @orders %>

<%= paginate @orders %>

    <body>
      <% @orders.each do |order| %>
        <tr bgcolor="#f5f5f5">
          <td><%= link_to order.created_at.strftime('%Y年%m月%d日 %H:%M:%S'), general_public_order_path(order.id) %></td>
          <td><%= order.spot %></td>
          <td><%= order.name %></td>
          <td>〒<%= order.postal_code %><br>
          <%= order.address %></td>
        </tr>
      <% end %>
    </body>
  </table>
  <%= paginate @orders %>

<div class="row mt-5 justify-content-center">
  <%= link_to "Myページへ戻る", general_public_customers_path %>
</div>

</div>
</header>
