<%= render 'public/orders/index', orders: @orders %>


<div class="row mb-3 justify-content-center">
  <%= form_tag(general_public_orders_path, method: :get) do %>
    <%= text_field_tag :search, '', placeholder: "キーワード検索", :size=>"50" %>
    <%= submit_tag 'キーワード検索', name: nil, spot: nil, address: nil, class: "btn-gradient-blue" %>
    <%#= hidden_field_tag 'search_method', "shipping_address" %>
    <%#= hidden_field_tag 'search_method', "spot" %>
    <%#= hidden_field_tag 'search_method', "name" %>
  <% end %>
</div>

<%= paginate @orders %>

<div class="container">
<table class="table table-secondary table-bordered table-sm border="1" style="border-collapse: collapse"">
    <thead>
      <th>注文日時</th>
      <th>現場名</th>
      <th>配送先名</th>
      <th>配送先</th>
    </thead>

    <body>
      <% @orders.each do |order| %>
        <tr bgcolor="#f5f5f5">
          <td><%= link_to order.created_at.strftime('%Y年%m月%d日 %H:%M:%S'), general_public_order_path(order.id) %></td>
          <td><%= order.spot %></td>
          <td><%= order.name %></td>
          <td>〒<%= order.postal_code %><br/>
          <%= order.address %><br/>
          TEL:<%= order.telephone_number %></td>
        </tr>
      <% end %>
    </body>
  </table>
</div>

<%= paginate @orders %>

<div class="row mt-5 justify-content-center">
  <%= link_to "Myページへ戻る", general_public_customers_path %>
</div>

</div>
</header>
