
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="font"><h2>kanzaiya社員用トップページ</h2></div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row ">
    <div class="col">
  <div class="card" style="width: 20rem;">
    <div class="card-header">
      <div class="font1">
     <h2>メニュー</h2>
       </div>
    </div>

    <div class="card-body">
      <ul class="list-group list-group-flush">

      <div class="font">
      <%= link_to admin_items_path, class: 'link' do %>
      <h4><i class="fa-solid fa-bag-shopping"></i>
      商品一覧(在庫追加)
      </h4>
      <% end %>
      </div>
      <br />

      <div class="font">
      <%= link_to  admin_customers_path, class: 'link' do %>
      <h4><i class="fa-solid fa-users"></i>
      会員一覧
      </h4>
      <% end %>
      </div>
      <br />

      <div class="font">
      <%= link_to admin_orders_path, class: 'link' do %>
      <h4><i class="fa-solid fa-cart-shopping"></i>
      注文履歴一覧
      </h4>
      <% end %>
      </div>
      <br />

      <div class="font">
      <%= link_to admin_genres_path, class: 'link' do %>
      <h4><i class="fa-solid fa-gear"></i>
      ジャンル一覧&追加
      </h4>
      <% end %>
      </div>
      <br />


      </ul>
    </div>
  </div>
</div>

<div class="col text-light">
  <%= image_tag('余白', size: '200x200') %>
  <%= image_tag('羊', size: '200x200') %>
</div>



<div class="balloon">
  在庫追加は
  <div class="font3">
  <%= link_to admin_items_path, class: 'link' do %>
  <h4>商品一覧</h4>
  <% end %>
  </div>
  から

</div>

</div>
</div>



</div>


