<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>会員詳細</h4>
    </div>

  <div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6">
      <table class="table table-borderless table-striped">

        <tr><th>会員ID</th>
        <td><%= @general_customer.id %></td></tr>

        <tr><th>名前</th>
        <td><%= @general_customer.full_name %>様</td></tr>

        <tr><th>ふりがな</th>
        <td><%= @general_customer.last_name_kana %>
        <%= @general_customer.first_name_kana %>様</td></tr>

        <tr><th>〒</th>
        <td><%= @general_customer.postal_code %></td></tr>


        <tr><th>住所</th>
        <td><%= @general_customer.address %></td></tr>

        <tr><th>電話番号</th>
        <td><%= @general_customer.telephone_number %></td></tr>

        <tr><th>email</th>
        <td><%= @general_customer.email %></td></tr>

        <tr><th>会員ステータス</th>

        <td><% if @general_customer.is_deleted == false %>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-secondary">退会</p>
        <% end %>
        </td></tr>
      </table>
    </div>
  </div>

    <div class="row mt-5 mb-5 justify-content-center">
      <div class="col-2 text-center">
        <%= link_to "戻る", admin_general_customers_path %>
     </div>
      <div class="col-2 text-center">
        <%= link_to "編集する",  edit_admin_general_customer_path(@general_customer.id), class: "btn btn-success" %>
      </div>
    </div>
</div>

</div>
