<%= render 'index', favorites: @favorites %>

<%= paginate @favorites %>
  <% if @favorite.present? %>
    <tbody>
      <% @favorites.each do |favorite| %>
      <% if favorite.item.is_active %>
      <tr bgcolor="#f5f5f5">
        <td><%= link_to (image_tag favorite.item.image, size: '50x50'), public_item_path(favorite.item.id) %></td>
        <td><%= favorite.item.name %></td>
        <td><%= favorite.item.shape %></td>
        <td><%= favorite.item.size %></td>
        <td><%= link_to "商品詳細", public_item_path(favorite.item.id), class: "btn-gradient-green" %></td>
        <td><%= link_to "削除する", public_item_favorites_path(favorite.item.id), method: :delete, class: "btn-gradient-dark", method: :delete %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>
<%= paginate @favorites %>

<div class="row mt-2 justify-content-center">
  <%= link_to "Myページへ戻る", public_customers_path %>
</div>

</div>
</header>




