<div class="container mt-5  pt-5 text-center">

    <h2>企業ユーザー様　新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<div class="container">
  <div class="row mt-5 text-left">
    <div class="col">
 <table class="table">
   <tr><th><%= f.label :法人名 %></th>
      <td><%= f.text_field :corporation, placeholder: "山田設備 株式会社", :size=>"60"  %></td>
    </tr>

    <tr><th><%= f.label :〒 %></th>
      <td><%= f.text_field :postal_code, placeholder: "0010001" %></td>
    </tr>
    <tr><th><%= f.label :住所 %></th>
      <td><%= f.text_field :address, placeholder: "東京都千代田区丸の内1丁目1-1", :size=>"60"  %></td>
    </tr>
    <tr><th><%= f.label :電話番号 %></th>
    <td><%= f.text_field :telephone_number, placeholder: "09012345678" %></td>
    </tr>
    <tr><th><%= f.label :お名前 %></th>
      <td><%= f.text_field :last_name, placeholder: "山田(姓)" %>
          <%= f.text_field :first_name, placeholder: "太郎(名)" %></td>
    </tr>
    <tr><th><%= f.label :ふりがな %></th>
      <td><%= f.text_field :last_name_kana, placeholder: "やまだ(せい)" %>
          <%= f.text_field :first_name_kana, placeholder: "たろう(めい)" %></td>
    </tr>
    <tr><th><%= f.label :email %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "〇〇〇@gmail.com", :size=>"60"  %></td>
    </tr>
    <tr><th><%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em></th>
      <% end %>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr><th><%= f.label :password_confirmation %></th>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
  </tr>


  </table>
    </div>
</div>

  <div class="row mb-4 mt-4">
      <div class="col">
    <%= f.submit "Sign up", class: "btn btn-success" %>
  </div>
  </div>
    </div>


<% end %>
<div class="row mb-5 mt-3">
  <div class="col">
    登録済みの方はこちらから
    <%= render "public/shared/links" %>
  </div>
</div>
</div>
