<%= render 'public/favorites/index', favorites: @favorites %>

  <% if @favorite.present? %>
    <tbody>
      <% @favorites.each do |favorite| %>
      <tr>
        <td><%= link_to (image_tag favorite.item.image, size: '50x50'), general_public_item_path(favorite.item.id) %></td>
        <td><%= favorite.item.name %></td>
        <td><%= favorite.item.shape %></td>
        <td><%= favorite.item.size %></td>
        <td><%= link_to "商品詳細", general_public_item_path(favorite.item.id), class: "btn btn-success" %></td>
        <td><%= link_to "削除する", general_public_item_favorites_path(favorite.item.id), method: :delete, class: "btn btn-danger", method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>
