<%= render 'public/items/index', items: @items %>

<div class="row mt-3 mb-3 justify-content-center">
  <%= form_tag(general_public_items_path, method: :get) do %>
    <%= text_field_tag :search, '', placeholder: "ジャンル検索" %>
    <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
  <% end %>
</div>


   <div class="container text-center">
    <div class="row mt-5">
    <% @items.each do |item| %>
    <% if item.is_active %>
      <div class="col-3 mb-5">
        <div class="card text-black bg-white border-dark">
        <% if current_general_customer.already_favorited?(item) %>
          <div class="sample-box">
            <%= link_to general_public_item_favorites_path(item), method: :delete do %>
            <div class="heart">
              <i class="fas fa-heart fa-2x" style="color: red;"></i>
              </div>
        <% end %>
          </div>
        <% else %>
          <div class="sample-box">
            <%= link_to general_public_item_favorites_path(item), method: :post do %>
              <div class="heart">
                <i class="far fa-heart like-btn fa-2x" ></i>
              </div>
            <% end %>
          </div>
        <% end %>
          <%= link_to general_public_item_path(item.id), class: "link" do %>
            <%= image_tag item.image, size: '200x150'%>

            <div class="card-body text-black bg-white p-4">
              <div class="text-center">
                <h5 class="fw-bolder"><%= item.genre.name %></h5>
                    <%= item.name %>
                    <%= item.shape %><br/>
                    サイズ:<%= item.size %><br/>
                    在庫数:<%= item.amount %><br/>
                    単価¥<%= item.last_price %>
              </div>
            </div>
            <% end %>
        </div>
      </div>
      <% end %>
     <% end %>
      </div>
      <%= paginate @items %>
    </div>
