<%= render 'public/items/show', items: @items %>


  <%= form_with model: @cart_item, url: general_public_cart_items_path do |f| %>
<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="col-6 text-center">
      <%= image_tag @item.image, size: '350x300' %>
    </div>
      <div class="col-6">
        <table class="table table-borderless table-striped">
          <tr><th>商品名</th>
          <td><%= @item.name %></td></tr>
          <tr><th>商品説明</th>
          <td><%= @item.introduction %></td>
          <tr><th>型</th>
          <td><%= @item.shape %></td>
          <tr><th>サイズ</th>
          <td><%= @item.size %></td>
          <tr><th>現在の在庫数</th>
          <td><%= @item.amount %></td>
          <tr><th>数量</th>
          <td><%= f.text_field :amount, placeholder: "個数を入力してください" %></td>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <tr><th>単価(税抜)</th>
          <td>¥<%= @item.last_price %></td>
       </table>
          <div class="row mt-5 mb-5 justify-content-center">
            <div class="col-3">
            <%= link_to "戻る", general_public_items_path %>
            </div>
            <div class="col-3">
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          </div>
        </div>
      </div>
  </div>
</div>
  <% end %>

