<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>注文情報確認</h4>
    </div>
</div>

<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <table class="table table-bordered table-sm">
        <thead>
          <th>商品名 / 型 / サイズ</th>
          <th>数量</th>
          <th>定価</th>
        </thead>
        <% total = 0 %>
    </div>


    <% if customer_signed_in? %>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
        <%= cart_item.item.name %> /
        <%= cart_item.item.shape %> /
        <%= cart_item.item.size %></td>
        <td><%= cart_item.amount %></td>
        <td>¥<%= cart_item.item.last_price %></td>
        <% total += cart_item.subtotal %>
      </tr>
    <% end %>
  </tbody>


  <div class="container">
    <div class="row mt-5 text_center">

      <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>

        <%= f.hidden_field :postal_code, :value => @order.postal_code %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :payment_method_i18n, :value => @order.payment_method_i18n %>
        <%= f.hidden_field :shipping_cost, :value => 800 %>
        <%= f.hidden_field :total_payment, :value => total %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>


      <%= f.submit "注文を確定する", class: "btn btn-success" %>

    </div>
  </div>

<% end %>
    <% end %>




      <% if general_customer_signed_in? %>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
        <%= cart_item.item.name %> /
        <%= cart_item.item.shape %> /
        <%= cart_item.item.size %></td>
        <td><%= cart_item.amount %></td>
        <td>¥<%= cart_item.item.last_price %></td>
        <% total += cart_item.subtotal %>
      </tr>
    <% end %>
  </tbody>
  <div class="container">
    <div class="row mt-5 text_center">

      <%= form_with model: @order, url: general_public_orders_path, method: :post do |f| %>

        <%= f.hidden_field :postal_code, :value => @order.postal_code %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :payment_method_i18n, :value => @order.payment_method_i18n %>
        <%= f.hidden_field :shipping_cost, :value => 800 %>
        <%= f.hidden_field :total_payment, :value => total %>
        <%= f.hidden_field :customer_id, :value => current_general_customer.id %>


      <%= f.submit "注文を確定する", class: "btn btn-success" %>

    </div>
  </div>

<% end %>
    <% end %>





  <div class="col-6">
    <table border="1" style="border-collapse: collapse">
      <tr>
        <th bgcolor = "lavender">送料</th>
        <td>¥<%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th bgcolor = "lavender">商品合計</th>
          <td>¥<%= total %></td>
      </tr>
      <tr>
        <th bgcolor = "lavender">請求金額</th>
      <td>¥<%= @order.shipping_cost + total %></td>
      </tr>
       </table>
    </div>


  <div class="col-6">
    <table class="table table-bordered table-sm">
      <tr>
        <th>お支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>お届け先</th>
        <td>〒<%= @order.postal_code %><br />
            <%= @order.address %><br />
            <%= @order.name %></td>
      </tr>
    </table>
  </div>

  </div>
</div>

