
<%= render 'index', orders: @orders %>


    <body>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime('%Y年%m月%d日 %H:%M:%S'), public_order_path(order.id) %></td>
          <td><%= order.spot %></td>
          <td><%= order.name %></td>
          <td>〒<%= order.postal_code %><br>
          <%= order.address %></td>
          <td>
            <% order.order_details.each do |order_detail| %>
				      <%= order_detail.item.name %>
				      <%= order_detail.item.shape %>
				      <%= order_detail.item.size %>/
				      <%= order_detail.item.amount %><br />
			     <% end %>
			    </td>

        </tr>
      <% end %>
    </body>
  </table>
  </div>
