<%= render 'public/addresses/index', addresses: @addresses %>

   <tbody>
      <% @addresses.each do |address| %>
      <tr bgcolor="#f5f5f5">
        <td>〒<%= address.postal_code %>
          <%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= address.telephone_number %></td>
            <td><%= link_to "編集する", edit_general_public_address_path(address.id), class: "btn-gradient-green" %></td>
            <td><%= link_to "削除する", general_public_destroy_address_path(address.id), method: :delete, class: "btn-gradient-dark", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
      <% end %>
    </tbody>
 </table>
  </div>
</div>
<%= paginate @addresses %>

<div class="container mb-5">
 <div class="row mt-3 justify-content-center">
      <h5>配送先追加</h5>
    </div>
  </div>
<div class="row mb-3 justify-content-center">
<% if @address.errors.any? %>
  <div class="alert-danger">
    <%= @address.errors.count %>件のエラーが発生しました
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>


<div class="container">
 <%= form_with model: @address, url: general_public_addresses_path do |f| %>
  <div class="row mt-3 mt-3 justify-content-center">
    <div class="col-3">
      〒(ハイフンなし)
    </div>
      <div class="col-2">
        <%= f.text_field :postal_code, placeholder: "1234567(半角英数7桁)" %>
      </div>
  </div>

    <div class="row mt-3 mt-3 justify-content-center">
      <div class="col-3">
        住所
      </div>
      <div class="col-2">
        <%= f.text_field :address, placeholder: "東京都千代田区", :size=>"60" %>
      </div>
    </div>

    <div class="row mt-3 mt-3 justify-content-center">
      <div class="col-3">
        名前
      </div>
      <div class="col-2">
        <%= f.text_field :name, placeholder: "山田花子" %>
        <%= f.hidden_field :general_customer_id, :value => current_general_customer.id %>
      </div>
    </div>

    <div class="row mt-3 mb-5 justify-content-center">
      <div class="col-3">
        TEL
      </div>
      <div class="col-2">
        <%= f.text_field :telephone_number, placeholder: "09012345678(半角英数10~11桁)", :size=>"30" %>
      </div>
    </div>

    <div class="row mt-3 mb-5 justify-content-center">
      <div class="col-2">
        <%= link_to "戻る", general_public_customers_path %>
      </div>
      <div class="col-2">
        <%= f.submit "新規登録", class: "btn-gradient-green" %>
      </div>
    </div>
  <% end %>
</div>
</div>
</header>