<%= render 'public/addresses/index', addresses: @addresses %>

   <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td>〒<%= address.postal_code %>
          <%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= address.telephone_number %></td>
            <td><%= link_to "編集する", edit_general_public_address_path(address.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "削除する", general_public_destroy_address_path(address.id), method: :delete, class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
      <% end %>
    </tbody>
 </table>
  </div>
</div>
<%= paginate @addresses %>

<div class="container mb-5">
 <div class="row">
      <h5>配送先追加</h5>
    </div>
  </div>

 <%= form_with model: @address, url: general_public_addresses_path do |f| %>
  <div class="row mt-3">
    <div class="col-3">
      郵便番号(ハイフンなし)
    </div>
      <div class="col-2">
        <%= f.text_field :postal_code, placeholder: "000000" %>
      </div>
  </div>

    <div class="row mt-3">
      <div class="col-3">
        住所
      </div>
      <div class="col-2">
        <%= f.text_field :address, placeholder: "東京都千代田区" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3">
        宛名
      </div>
      <div class="col-2">
        <%= f.text_field :name %>
        <%= f.hidden_field :general_customer_id, :value => current_general_customer.id %>
      </div>
    </div>

     <div class="row mt-3 mb-5">
      <div class="col-3">
        TEL
      </div>
      <div class="col-3">
        <%= f.text_field :telephone_number %>
      </div>

      <div class="col-3">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>



    </div>

<div class="row mt-3 mb-5">
    <div class="col-3">
      <%= link_to "戻る", general_public_customers_path %>
      </div>



  <% end %>
</div>
</div>