<div class="container mt-5  pt-5 text-center">

    <h2>企業様  ログインページ</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="row mb-5 mt-5">
      <div class="col">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="row mb-5 mt-5">
      <div class="col">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>



  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "public/shared/links" %>


</div>
