<div class="container text-center">
    <div class="row mt-5 justify-content-center">
      <h4>商品一覧</h4>
    </div>


<%#= form_tag(public_path, :method => "get") do %>
 <%#= text_field_tag :search %>
<%#= submit_tag "Search" ,:itemname => nil ,class: "button is-info"%>
<%# end %>


<h2>検索</h2>
<%= form_tag(public_items_path, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', name: nil %>
<% end %>



    <table class="table table-hover table-bordered table-sm">
    <thead>
      <th>お気に入り</th>
      <th>商品画像</th>
      <th>ジャンル</th>
      <th>商品名/型/サイズ</th>
      <th>数量</th>
      <th>定価</th>
    </thread>

    <% if customer_signed_in? %>

  <tbody>
      <% @items.each do |item| %>

    <tr>
      <td><i class="fa-regular fa-star fa-2x mt-3 "></i></td>
      <td>
      <%= link_to public_item_path(item.id) do %>
      <%= image_tag item.image, size: '50x50'%>
      <% end %>
      </td>
      <td><%= item.genre.name %></td>
      <td><%= link_to public_item_path(item.id) do %>
      <%= item.name %><br />
      <%= item.shape %><br />
      <%= item.size %>
      <% end %>
      </td>
      <td><%= item.amount %></td>
      <td>¥<%= item.last_price %></td>
      <%# if @item.favorited_by?(current_customer) %>
      <td><%#= link_to "ブックマークを外す", item_favorites_path(@item), method: :delete %></td>
    <% #else %>
      <td><%#= link_to "ブックマーク", item_bfavorites_path(@item), method: :post %></td>
    <% #end %>
            </div>
            </div>
            </div>
        <% end %>



  <% end %>






 <% if general_customer_signed_in? %>

  <tbody>
      <% @items.each do |item| %>

    <tr>
      <td><i class="fa-regular fa-star fa-2x mt-3 "></i></td>
      <td>
      <%= link_to general_public_item_path(item.id) do %>
      <%= image_tag item.image, size: '50x50'%>
      <% end %>
      </td>
      <td><%= item.genre.name %></td>
      <td><%= link_to general_public_item_path(item.id) do %>
      <%= item.name %><br />
      <%= item.shape %><br />
      <%= item.size %>
      <% end %>
      </td>
      <td><%= item.amount %></td>
      <td>¥<%= item.last_price %></td>
      <%# if @item.favorited_by?(current_general_customer) %>
      <td><%#= link_to "ブックマークを外す", item_favorites_path(@item), method: :delete %></td>
    <% #else %>
      <td><%#= link_to "ブックマーク", item_bfavorites_path(@item), method: :post %></td>
    <% #end %>
            </div>
            </div>
            </div>
        <% end %>

  <% end %>





    </div>



