<%= render 'index', items: @items %>


<div class="row mb-3 justify-content-center">
  <%= form_tag(public_items_path, method: :get) do %>
    <%= text_field_tag :search, '', placeholder: "キーワード検索", :size=>"50" %>
    <%= submit_tag 'キーワード検索', name: nil, shape: nil, size: nil %>
  <% end %>
</div>

 <div class="container text-center">
    <div class="row mt-5">
    <% @items.each do |item| %>
    <% if item.is_active %>
      <div class="col-lg-3 col-md-5 mb-5 text-center">
        <div class="card text-black bg-white border-dark">
        <% if current_customer.already_favorited?(item) %>
          <div class="sample-box">
            <%= link_to public_item_favorites_path(item), method: :delete do %>
            <div class="heart">
              <i class="fas fa-heart fa-2x" style="color: red;"></i>
              </div>
        <% end %>
          </div>
        <% else %>
          <div class="sample-box">
            <%= link_to public_item_favorites_path(item), method: :post do %>
              <div class="heart">
                <i class="far fa-heart like-btn fa-2x" style="color: black;" ></i>
              </div>
            <% end %>
          </div>
        <% end %>
          <%= link_to public_item_path(item.id), class: "link" do %>
            <%= image_tag item.image, size: '250x200' %>
            <div class="card-body text-black bg-white p-4">
              <div class="text-center">
                <h5 class="fw-bolder"><%= item.genre.name %></h5>
                    <%= item.name %>
                    <%= item.shape %><br/>
                    サイズ:<%= item.size %><br/>
                    在庫数:<%= item.amount %><br/>
                    単価(税抜):¥<%= item.last_price %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
     <% end %>
    </div>
<div class="row mt-2 mb-5 justify-content-center">
  <%= link_to "Myページへ戻る", public_customers_path %>
</div>

    <%= paginate @items %>
  </div>
</header>
