<%= render "show", items: @items %>

<div class="row mt-5 mb-5 justify-content-center">
<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

  <%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
<div class="container">
  <div class="row mt-3 justify-content-center">
      <div class="col-lg col-md-5 mb-5 text-center">
        <%= image_tag @item.image, size: '350x300' %>
      </div>
        <div class="col-6">
          <table class="table table-borderless table-striped">
          <tr><th>商品名</th>
          <td><%= @item.name %></td></tr>
          <tr><th>商品説明</th>
          <td><%= @item.introduction %></td>
          <tr><th>型</th>
          <td><%= @item.shape %></td>
          <tr><th>サイズ</th>
          <td><%= @item.size %></td>
          <tr><th>現在の在庫数</th>
          <td><%= @item.amount %></td>
          <tr><th>数量</th>
          <td><%= f.text_field :amount, placeholder: "個数を入力してください" %></td>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <tr><th>単価(税込み)</th>
          <td>¥<%= @item.with_tax_price.to_s(:delimited, delimiter: ',') %></td>
          </table>
          <div class="row mt-5 mb-5 justify-content-center">
            <div class="col-3">
            <%= link_to "戻る", public_items_path %>
            </div>
            <div class="col-3">
            <%= f.submit "カートに入れる", class: "btn-gradient-green" %>
          </div>
        </div>
    </div>
  </div>
</div>

  <% end %>
