<!DOCTYPE html>
<html>
  <head>
    <title>Kanzaiya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">kanzaiya</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">

    <% if admin_signed_in? %>
        <%= link_to admin_top_path, class: 'nav-link text-light' do %>
          Home
        <% end %>
        <%= link_to admin_orders_path, class: 'nav-link text-light' do %>
          注文履歴一覧
        <% end %>
        <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
          会員一覧
        <% end %>
        <%= link_to new_admin_item_path, class: 'nav-link text-light' do %>
          商品新規登録
        <% end %>
        <%= link_to admin_items_path, class: 'nav-link text-light' do %>
          商品一覧
        <% end %>
        <%= link_to admin_genres_path, class: 'nav-link text-light' do %>
          ジャンル一覧
        <% end %>
        <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
          <p class="border rounded">ログアウト</p>
    <% end %>
    <% end %>



    <% if customer_signed_in? %>
          <%= link_to public_path, class: 'nav-link text-light' do %>
              Home
          <% end %>
          <%= link_to public_customers_path, class: 'nav-link text-light' do %>
              マイページ
          <% end %>
          <%= link_to public_items_path, class: 'nav-link text-light' do %>
              商品一覧
          <% end %>
          <%= link_to public_orders_path, class: 'nav-link text-light' do %>
              注文履歴一覧
          <% end %>

          <%= link_to public_cart_items_path, class: 'nav-link text-light' do %>
              カート内確認
          <% end %>
          <%= link_to public_about_path, class: 'nav-link text-light' do %>
              会社概要
          <% end %>
             <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
          <p class="border rounded">ログアウト</p>
    <% end %>
    <% end %>



      <% if general_customer_signed_in? %>
          <%= link_to general_public_path, class: 'nav-link text-light' do %>
              Home
          <% end %>
          <%= link_to general_public_customers_path, class: 'nav-link text-light' do %>
              マイページ
          <% end %>
          <%= link_to general_public_items_path, class: 'nav-link text-light' do %>
              商品一覧
          <% end %>
          <%= link_to general_public_orders_path, class: 'nav-link text-light' do %>
              注文履歴一覧
          <% end %>

          <%= link_to general_public_cart_items_path, class: 'nav-link text-light' do %>
              カート内確認
          <% end %>
          <%= link_to general_public_about_path, class: 'nav-link text-light' do %>
              会社概要
          <% end %>
              <%= link_to destroy_general_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
          <p class="border rounded">ログアウト</p>
      <% end %>
      <% end %>

      </ul>
    </div>
  </div>
  </div>
</nav>



  <body>
    <%= yield %>
  </body>
</html>

 <% if !customer_signed_in? %>
<%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
<% end %>


