<!DOCTYPE html>
<html>
  <head>
    <title>Kanzaiya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Zen+Maru+Gothic:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Stick&family=Zen+Maru+Gothic:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Stick&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@700&display=swap" rel="stylesheet">
  </head>


  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e9dacb">
  <div class="container-fluid">
   <a class="navbar-brand p-3"><%= image_tag 'kanzaiya_font_5_clear.png', :size =>'200x50' %></a>
  <% if flash[:notice]!="※在庫数より注文数が上回っています。" %>
   <%= flash[:notice] %>
  <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

    <% if admin_signed_in? %>
    <div class="font1">
      <div class="basic-3">
        <%= link_to admin_top_path, class: 'nav-link text-dark' do %>
        Home
        <% end %>
      </div>
      </div>
    <div class="font1">
      <div class="basic-3">
        <%= link_to admin_orders_path, class: 'nav-link text-dark' do %>
        注文履歴一覧
        <% end %>
      </div>
    </div>
    <div class="font1">
      <div class="basic-3">
        <%= link_to admin_customers_path, class: 'nav-link text-dark' do %>
          企業会員一覧
        <% end %>
      </div>
    </div>

    <div class="font1">
      <div class="basic-3">
        <%= link_to admin_general_customers_path, class: 'nav-link text-dark' do %>
          一般会員一覧
        <% end %>
      </div>
    </div>

    <div class="font1">
      <div class="basic-3">
        <%= link_to new_admin_item_path, class: 'nav-link text-dark' do %>
          商品新規登録
        <% end %>
      </div>
    </div>
    <div class="font1">
      <div class="basic-3">
        <%= link_to admin_items_path, class: 'nav-link text-dark' do %>
          商品一覧
        <% end %>
      </div>
    </div>
    <div class="font1">
      <div class="basic-3">
        <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
          ジャンル一覧
        <% end %>
      </div>
    </div>
    <div class="font1">
      <div class="thick-6">
        <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
          ログアウト
        <% end %>
      </div>
    </div>
  <% end %>



    <% if customer_signed_in? %>
      <div class="font1">
        <div class="basic-3">
          <%= link_to public_path, class: 'nav-link text-dark' do %>
          Home
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to public_customers_path, class: 'nav-link text-dark' do %>
          マイページ
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to public_items_path, class: 'nav-link text-dark' do %>
          商品一覧
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to public_orders_path, class: 'nav-link text-dark' do %>
          注文履歴一覧
          <% end %>
        </div>
      </div>
      <div class="font1">
         <div class="basic-3">
          <%= link_to public_cart_items_path, class: 'nav-link text-dark' do %>
          カート内確認
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to public_favorites_path, class: 'nav-link text-dark' do %>
          お気に入り
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="thick-6">
          <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
          ログアウト
          <% end %>
        </div>
      </div>
    <% end %>



      <% if general_customer_signed_in? %>
      <div class="font1">
        <div class="basic-3">
          <%= link_to general_public_path, class: 'nav-link text-dark' do %>
              Home
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to general_public_customers_path, class: 'nav-link text-dark' do %>
              マイページ
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to general_public_items_path, class: 'nav-link text-dark' do %>
            商品一覧
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to general_public_orders_path, class: 'nav-link text-dark' do %>
            注文履歴一覧
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
          <%= link_to general_public_cart_items_path, class: 'nav-link text-dark' do %>
            カート内確認
          <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="basic-3">
           <%= link_to general_public_favorites_path, class: 'nav-link text-dark' do %>
            お気に入り
            <% end %>
        </div>
      </div>
      <div class="font1">
        <div class="thick-6">
            <%= link_to destroy_general_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
            ログアウト
            <% end %>
        </div>
      </div>
      <% end %>

      </ul>
    </div>
  </div>
  </div>
</nav>

  <body>
    <%= yield %>

    </body>
    </ul>
</div>
</html>

<footer class="text-dark pt-3 pb-4">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="font1"><h3>kanzaiyaのECサイト</h3></div>
          札幌市中央区南1条3丁目5-10<br/>
            TEL:011-786-3574 / FAX:011-786-3575 / email:kanzaiya@gmail.com
          <%#= image_tag('バス.png')%>

        </div>
        <div class="col-md-6">
          <ul class="p-0 list-unstyled">
            <li>
              <div class="font1">
              <%= link_to '会社概要', public_about_path, class: "link"%><br/>

              </div>
            </li>
          </ul>
        </div>
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="font1">

          </div>
        </div>
      </div>
      </div>
  </footer>



